# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pc_builder
POSTGRES_USER=postgres
POSTGRES_PASSWORD= # any password
POSTGRES_SSL=false

# MongoDB
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=pc_builder
MONGO_USER=admin
MONGO_PASSWORD= # any password

# BetterAuth
BETTER_AUTH_SECRET=<SECRET_HERE>
BETTER_AUTH_BASE_URL=http://localhost:3000
BETTER_AUTH_BASE_PATH=/api/auth

# Google OAuth
GOOGLE_CLIENT_ID=<ID_HERE>
GOOGLE_CLIENT_SECRET=<SECRET_HERE>

# Resend para OTP
RESEND_API_KEY=<KEY_HERE>

# Opciones: DEBUG | INFO | WARN | ERROR
LOG_LEVEL=INFO